@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-font: 'Quicksand', sans-serif;
  --brand-color: yellow;
  --brand-color2: purple;
  --radius: .6rem;
  --light-grey: #ecefed;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--brand-color2);
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
  padding: 0.6rem 0.375rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid grey;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: .35rem;
}

.btn-brand {
  background-color: var(--brand-color);
  color: white !important;
  border: 1px solid var(--brand-color);
}

.btn-brand-outline {
  background-color: transparent;
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.btn-brand-outline:hover {
  background-color: var(--brand-color);
  color: var(--white);
}

.btn-brand2 {
  background-color: var(--brand-color2);
  color: white !important;
  border: 1px solid var(--brand-color2);
}


.joke-container {
  width: 50%;
  margin: 15% auto;
  text-align: center;
  background-color: var(--brand-color);
  padding: .6rem;
  border-radius: .5rem;
}

.joke-container .emoji {
  font-size: 5rem;
}

.joke-container button {
  margin: .6rem;
}